{% extends "base.html" %}
{%import 'bootstrap/wtf.html' as wtf%}

{% block app_content %}
<br>
<br>
<br>
<br>
<br>
<div class="border border-info rounded" id="register">
    <div class="container" style="margin-top: 30px;">
        <h3>
            Register yourself at Recruitize!</h3>
            <form action="" method="post" novalidate>
                {{form.hidden_tag()}}
                <p>
                    {{form.username.label}}
                    {{form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.email.label}}
                    {{form.email(class="form-control") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.password.label}}
                    {{form.password(class="form-control")}}
                    {%for error in form.password.errors %}
                    <span style="color:red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.password2.label}}
                    {{form.password2(class="form-control")}}
                    {%for error in form.password2.errors %}
                    <span style="color:red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{form.recruiter.label}}
                    {{form.recruiter(class="form-check-label")}}
                    {%for error in form.password2.errors %}
                    <span style="color:red;">[{{error}}]</span>
                    {% endfor %}
                </p>
    
                <p>{{form.submit(class="btn btn-success")}}</p>
            </form>
    </div>
</div>
{% endblock %}
