<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Scaffold Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  

</head>

<body>

  <!-- header-start -->
  <header id="header" class="fixed-top ">
    <div class="d-flex" style="margin-right: 40px;">

      <div class="logo mr-auto">
      <a href="{{ url_for('main.index') }}"><img src="/static/assets/img/logo.png" alt="Recruitize" class="img-fluid" style="height:200px ;width: 250px;"></a>
      </div>

      <nav class="nav-menu d-none  d-lg-block">
        <ul>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('main.index') }}#login">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
            {% else %}
            <li><a class="active" href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a href="#about">About Us</a></li>
              <li><a href="#team">Team</a></li>
              
            </ul>
          </li>
          <li><a href="{{ url_for('main.index') }}#services">Services</a></li>
          

          <li><a href="{{ url_for('main.index') }}#contact">Contact</a></li>
          {% endif %}

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter" style="font-size: 25px;"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook" style="font-size: 25px;"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram" style="font-size: 25px;"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin" style="font-size: 25px;"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  {% block content %}
  <div class="container">
      {% block app_content %}{% endblock %}
  </div>
  {% endblock %}
  
<hr class="style13" >
  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: rgb(167, 213, 231);">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Recruitize</h3>
              <p>
                Dayalbagh Educational Institute (Deemed University),<br>
                Dayalbagh,Agra <br>
                Uttar Pradesh <br>
                282 005 <br>
                INDIA. <br>
                <br>
                <strong>Email:</strong> recruitize.dei@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Builder</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Scanner</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Matcher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">And Many More to come...</a></li>
            </ul>
          </div>

          <div class="col-lg-5 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter for getting latest updates on Blogs and Services.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Recruitize</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="https://bootstrapmade.com/">Team Recruitize</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>

</html>