{% extends "base.html" %}

{% block app_content %}
{% if current_user.recruiter == false %}
<div id="hero" class="service_area">
    <div class="container">
        <h1>Hi, {{ current_user.username }}! </h1>
    <a href="{{ url_for('main.resume_user')}}" class="btn btn-success">View Resume</a>

   
    
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Demographic Details:</h3>
    
    {% if demog_list  %}
        {% for i in demog_list %}
        <table class="table table-hover">
            <td>
                <p>First Name: {{i['first_name']}}</p> 
                <p>Last Name: {{i['last_name']}}</p>
                <p>Position: {{i['position']}}</p> 
                <p>DOB: {{i['dob']}}</p>
                <p>Gender: {{i['gender']}}</p>
                <p>Nationality: {{i['nationality']}}</p>
            </td>
            <td>
                <a href="{{ url_for('main.update_demographic_details', detail_id=i.id)}}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_demographic_details', detail_id=i.id)}}" class="btn btn-danger">Delete details</a>
            </td>
        </table>
        {% endfor %}
    {% else %}
        <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_demographic_details')}}" class="btn btn-primary">Add details</a>
                </td>
        </table>
        
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">
    <h3>Contact Details:</h3>
    
    {% if contact_list  %}
        {% for i in contact_list %}
        <table class="table table-hover">
            <td>
                <p>Address: {{i['address']}}</p> 
                <p>Phone Number: {{i['phone_no']}}</p> 
                <p>Email : {{i['email']}}</p>
                <p>LinkedIn Profile: <a href="{{i['linkedin_prof']}}">{{i['linkedin_prof']}}</a></p>
            </td>
            <td>
                <a href="{{ url_for('main.update_contact_details', detail_id=i.id)}}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_contact_details', detail_id=i.id)}}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_contact_details')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
        
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Highest Qualification:</h3>
    
    {% if hqual_list  %}
        {% for i in hqual_list %}
        <table class="table table-hover">
            <td>
                <p>Course Name/Degree: {{i['Course']}}</p> 
                <p>Institution Name: {{i['institution']}}</p> 
                <p>Percentage/SGPA scored: {{i['Percentage']}}</p>
                <p>Stream/Subjects of Interest: {{i['subjects']}}</p> 
                <p>Passout Year : {{i['Year']}}</p>
            </td>
            <td>
                <a href="{{ url_for('main.update_highest_qualification', detail_id=i.id)}}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_highest_qualification', detail_id=i.id)}}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_highest_qualification')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
        
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Qualification(s):</h3>
    
    {% if qual_list  %}
        {% for i in qual_list %}

        <table class="table table-hover">
            <td>
                <p>Course Name/Degree: {{i['Course']}}</p> 
                <p>Institution Name: {{i['college']}}</p> 
                <p>Percentage/SGPA scored: {{i['Percentage']}}</p>
                <p>Stream/Subjects of Interest: {{i['subjects']}}</p> 
                <p>Passout Year : {{i['Year']}}</p>
            </td>
            <td>
                <a href="{{ url_for('main.update_qualification', detail_id=i.id) }}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_qualification', detail_id=i.id) }}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
        <a href="{{ url_for('main.add_qualification')}}" class="btn btn-primary">Add more</a>
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_qualification')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
       
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Certification(s):</h3>
    
    {% if cert_list  %}
        {% for i in cert_list %}

        <table class="table table-hover">
            <td>
                <p>Course Name/Degree: {{i['course_name']}}</p> 
                <p>Organization: {{i['organization']}}</p>
                <p>Certificate ID/ Regisatraion number: {{i['credentials']}}</p> 
                
            </td>
            <td>
                <a href="{{ url_for('main.update_certification', detail_id=i.id) }}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_certification', detail_id=i.id) }}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
        <a href="{{ url_for('main.add_certification')}}" class="btn btn-primary">Add more</a>
        
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_certification')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Project(s):</h3>
    
    {% if pro_list  %}
        {% for i in pro_list %}

        <table class="table table-hover">
            <td>
                <p>Project Name: {{i['project_Name']}}</p> 
                <p>Project Details: {{i['project_details']}}</p>
                <p>Year: {{i['year']}}</p> 
                
            </td>
            <td>
                <a href="{{ url_for('main.update_project', detail_id=i.id) }}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_project', detail_id=i.id) }}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
        <a href="{{ url_for('main.add_project')}}" class="btn btn-primary">Add more</a>
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_project')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Experience(s) Details:</h3>
    
    {% if exp_list  %}
        {% for i in exp_list %}

        <table class="table table-hover">
            <td>
                <p>Organization/Company Name: {{i['organization_name']}}</p> 
                <p>Position: {{i['position']}}</p>
                <p>Duration(in Months): {{i['duration_in_months']}}</p> 
                
            </td>
            <td>
                <a href="{{ url_for('main.update_experience', detail_id=i.id) }}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_experience', detail_id=i.id) }}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
        <a href="{{ url_for('main.add_experience')}}" class="btn btn-primary">Add more</a>
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_experience')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
    {% endif %}
    <hr style="height:1px; border:none; color:#000; background-color:#000;">

    <h3>Other Details:</h3>
    
    {% if oth_list  %}
        {% for i in oth_list %}

        <table class="table table-hover">
            <td>
                <p>Professional Summary: {{i['profile']}}</p> 
                <p>Skills: {{i['skills']}}</p> 
                <p>Other details: {{i['details']}}</p> 
                
            </td>
            <td>
                <a href="{{ url_for('main.update_other_details', detail_id=i.id) }}" class="btn btn-primary">Update details</a>
                <br>
                <br>
                <a href="{{ url_for('main.delete_other_details', detail_id=i.id) }}" class="btn btn-danger">Delete details</a>
            </td>
        </table>    
        {% endfor %}
    {% else %}
            <table class="table table-hover">
                <td>
                    <a href="{{ url_for('main.add_other_details')}}" class="btn btn-primary">Add details</a>
                </td>
            </table>
    {% endif %}
    </div>
</div>
{% else %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>You are not authorized to access this page</h1>
{% endif %}
{% endblock %}